{% extends "admin/base.html" %}
{% load static %}
{% load filters %}
{% block extrahead %}
    {{ block.super }}
    {% comment %} <link rel="stylesheet" href="{% static 'admin/css/custom_header.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'admin/css/custom_sidebar.css' %}">

    {% comment %} Add fonts {% endcomment %}
    {% comment %} <link rel="preload" href="{% static 'fonts/Angelica.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{% static 'admin/css/font.css' %}">  {% endcomment %}
    <script defer src="{% static 'admin/js/custom_sidebar.js' %}"></script>
    <script defer src="{% static 'admin/js/send_notification.js' %}"></script>


{% endblock %}

{% comment %} {% block branding %}
    {% with logo_path=site_logo|default:'admin/icons/logo.png' %}
        <a class="custom-admin-brand" href="{% url 'admin:index' %}">
            <img class="custom-admin-brand__logo" src="{% static logo_path %}" alt="{{ site_brand|default:site_header }}">
            <span class="custom-admin-brand__text">{{ site_brand|default:site_header }}</span>
        </a>
    {% endwith %}
{% endblock %} {% endcomment %}

{% block sidebar %}

        <aside class="icon-sidebar" id="sidebar">
            <ul>
                <li>
                    <a href="/admin/">
                        <img src="{% static 'admin/icons/home.png' %}" alt="Dashboard">
                        <span class="sidebar-label">Dashboard</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" onclick="toggleDropdown(this)">
                        <img src="{% static 'admin/icons/appointments.png' %}" alt="Appointments">
                        <span class="sidebar-label">Appointments
                        <span class="dropdown-arrow"> <img src="{% static 'admin/icons/arrow.png' %}" alt="Pointer"> </span>
                        </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin:core_appointment_changelist' %}" data-icon="AP">All Appointments</a></li>
                        {% if not request.user|is_master_user %}
                        <li><a href="{% url 'admin:core_appointmentstatushistory_changelist' %}" data-icon="ST">Status History</a></li>
                        <li><a href="{% url 'admin:core_appointmentitempromocode_changelist' %}" data-icon="PR">Appointment Promocode</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if not request.user|is_master_user %}
                <li class="dropdown">
                    <a href="javascript:void(0);" onclick="toggleDropdown(this)">
                        <img src="{% static 'admin/icons/users.png' %}" alt="Users">
                        <span class="sidebar-label">Users
                        <span class="dropdown-arrow"> <img src="{% static 'admin/icons/arrow.png' %}" alt="Pointer"> </span>
                       </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin:auth_user_changelist' %}" data-icon="US">All Users</a></li>
                        <li><a href="{% url 'admin:core_masterprofile_changelist' %}" data-icon="MA">Masters</a></li>
                        <li><a href="{% url 'admin:core_masteravailability_changelist' %}" data-icon="TO">Master's time off</a></li>
                        <li><a href="{% url 'admin:core_clientreview_changelist' %}" data-icon="RV">Reviews</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" onclick="toggleDropdown(this)">
                        <img src="{% static 'admin/icons/wallet.png' %}" alt="Payments">
                        <span class="sidebar-label">Payments
                        <span class="dropdown-arrow"> <img src="{% static 'admin/icons/arrow.png' %}" alt="Pointer"> </span>
                       </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin:core_payment_changelist' %}" data-icon="PA">All Payments</a></li>
                        <li><a href="{% url 'admin:core_appointmentprepayment_changelist' %}" data-icon="PP">Prepayment</a></li>
                        <li><a href="{% url 'admin:core_servicediscount_changelist' %}" data-icon="DC">Discounts</a></li>
                        <li><a href="{% url 'admin:core_promocode_changelist' %}" data-icon="PC">Promo Codes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" onclick="toggleDropdown(this)">
                        <img src="{% static 'admin/icons/services.png' %}" alt="Retail">
                        <span class="sidebar-label">Retail
                        <span class="dropdown-arrow"> <img src="{% static 'admin/icons/arrow.png' %}" alt="Pointer"> </span>
                        </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin:core_product_changelist' %}" data-icon="PD">Products</a></li>
                        <li><a href="{% url 'admin:core_productcategory_changelist' %}" data-icon="CT">Product Categories</a></li>
                        <li><a href="{% url 'admin:core_productsale_changelist' %}" data-icon="SL">Product Sales</a></li>
                    </ul>
                </li>
                    <li>
                        <a href="{% url 'admin-stats' %}">
                            <img src="{% static 'admin/icons/statistics.png' %}" alt="Settings">
                            <span class="sidebar-label">Statistics</span>
                        </a>
                    </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" onclick="toggleDropdown(this)">
                        <img src="{% static 'admin/icons/services.png' %}" alt="Services">
                        <span class="sidebar-label">Services
                        <span class="dropdown-arrow"> <img src="{% static 'admin/icons/arrow.png' %}" alt="Pointer"> </span>
                       </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin:core_service_changelist' %}" data-icon="SV">All Services</a></li>
                        <li><a href="{% url 'admin:core_servicemaster_changelist' %}" data-icon="MS">Master - Service</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" onclick="toggleDropdown(this)">
                        <img src="{% static 'admin/icons/notifications.png' %}" alt="Settings">
                        <span class="sidebar-label">Notifications
                        <span class="dropdown-arrow"> <img src="{% static 'admin/icons/arrow.png' %}" alt="Pointer"> </span>
                        </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin:core_notification_changelist' %}" data-icon="NT">Notifications</a></li>
                        <li><a href="{% url 'admin:core_reminderschedule_changelist' %}" data-icon="RS">Reminder Schedule</a></li>

                    </ul>
                </li>
                <li>
                    <a href="{% url 'admin:core_clientfile_changelist' %}">
                        <img src="{% static 'admin/icons/files.png' %}" alt="Settings">
                        <span class="sidebar-label">Files</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" onclick="toggleDropdown(this)">
                        <img src="{% static 'admin/icons/options.png' %}" alt="Options">
                        <span class="sidebar-label">Options
                        <span class="dropdown-arrow"> <img src="{% static 'admin/icons/arrow.png' %}" alt="Pointer"> </span>
                       </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin:core_appointmentstatus_changelist' %}" data-icon="AS">Appointment Statuses</a></li>
                        <li><a href="{% url 'admin:core_paymentmethod_changelist' %}" data-icon="PM">Payment Methods</a></li>
                        <li><a href="{% url 'admin:core_clientintakeform_changelist' %}" data-icon="IF">Intake Forms</a></li>
                        <li><a href="{% url 'admin:core_prepaymentoption_changelist' %}" data-icon="PO">Prepayment Options</a></li>
                        <li><a href="{% url 'admin:core_servicecategory_changelist' %}" data-icon="SC">Service Category</a></li>
                        <li><a href="{% url 'admin:core_role_changelist' %}" data-icon="RL">Roles</a></li>
                        <li><a href="{% url 'admin:core_cancellationreason_changelist' %}" data-icon="CR">Cancellation Reasons</a></li>
                        <li><a href="{% url 'admin:core_clientsource_changelist' %}" data-icon="CS">Client Source</a></li>
                        <li><a href="{% url 'admin:core_paymentstatus_changelist' %}" data-icon="PS">Payment Status</a></li>
                        <li><a href="{% url 'admin:core_masterroom_changelist' %}" data-icon="MR">Master Rooms</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </aside>
    <main class="main-content">
        <style>
            .main-footer {
                display: none !important;
                height: 0 !important;
                margin: 0 !important;
                padding: 0 !important;
                border: none !important;
                visibility: hidden !important;
            }
            html, body {
                height: 100%; !important;
                margin: 0; !important;
                padding: 0; !important;
             }


        </style>
        {{ block.super }}
    </main>
{% endblock %}
