{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools %}
    {{ block.super }}
    {% if import_url %}
            <a href="{{ import_url }}" class="btn btn-secondary float-right" style="margin-right: 0.5rem;">
                {{ import_label|default:"Import" }}
            </a>
    {% endif %}
    {% if export_url %}
            <a href="{{ export_url }}" class="btn btn-success float-right">
                {{ export_label|default:"📥 Export XSLX" }}
            </a>

    {% endif %}
{% endblock %}
